@import url('./init.scss');

@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css';

$accentColor: #008080;

body{
    background-color: #f0f0f0;
}

header{
    background-color: white;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);
    .header-top{
        padding: 15px 0;
    }
    .brand{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .search-icon{
        width: 30px;
        height: 30px;
        background-color: rgba($color: #f0f0f0, $alpha: 0.5);
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
    .header-bottom{
        background-color: $accentColor;
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        li a{
            padding: 10px 15px ;
            display: block;
            text-transform: uppercase;
            color: #f0f0f0;
            font-weight: bold;
            opacity: 0.8;
            &:hover{
                opacity: 1 ;
            }
        }
    }
    margin-bottom: 30px;
}
.card{
    position: relative;
    box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
    &-body{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px;
        background: linear-gradient(180deg, transparent, rgba(#000, 0.3));
        color: #fff;
        line-height: 30px;
        max-height: 58px;
        overflow: hidden;
        transition: 0.5s all;       
    }
    &:hover &-body  {
    max-height: 300px;
}
}
