:root{
    --height:500vh
}
body{
    margin: 0;
    background: linear-gradient(#2980b9, #6dd5fa, #fff);
}
main{
    min-height: var(--height);
    position: relative;
}
.grass{
    height: 150px;
    position: absolute;
    background-image: url(./img/image_2.jpg);
    background-size: 150px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ladder{
    height: calc(var(--height) - 150px);
    background-image: url(https://lh3.googleusercontent.com/vI4Qa08i6jICxqm5-Fbhr7xdwbikcwwwwoeyR-4Y7qwa3xELAPYxv7OitIECxM_OBo1Sghb4oA00cts1587qZvIsh0MbXI5aNzA=s400);
    position: absolute;
    background-size: contain;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.progress{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    padding: 15px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    width: 72px;
    text-align: right;
}
.progressBar{
    height: 10px;
    width: 0%;
    position: fixed;
    top:0;
    background-color: blue;
    left: 0;
}
.run-box{
    position: absolute;
    bottom: 90px;
    left:0 ; 
    width: 50%;
    height: 300px;
    padding-top: 100px;
    overflow: hidden;
}
.run-box img{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.3s all;
}
.run-box.active img{
    right: 100%;

}