body{
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(#2980b9, #6dd5fa, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type ="text"]{
    width: 50vw;
    padding: 20px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
p{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    font-size: 48px;
    color: #fff;
}
input[type =":checkbox"]{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}