*{
    box-sizing:border-box
}
body{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mdkue{
    
    border: 5px solid green;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.buuMed{
    border: 0;
    width: 200px;
    display: none;
}
.mdkue:active{
    padding-left: 10px;
    padding-right: 20px;
    width: 200px;;
    display: block;
}
.buuMed.mdkue:active{
    display: block;
}